<?xml version='1.0' encoding='utf-8'?>
<widget id="info.nfuture.MTTemplateMerge" version="0.2.4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MTTemplateMerge</name>
    <description>
        Comparing two MT Templates.
    </description>
    <author email="fine14r3@gmail.com" href="http://knight9999.github.io/MTTemplateMerge/">
        Kenichi Naito
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <platform name="windows">
        <preference name="windows-target-version" value="10.0" />
        <preference name="Orientation" value="landscape" />
        <preference name="WindowsDefaultUriPrefix" value="ms-appx://" />
    </platform>
</widget>
